Important DataFrame Method

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
student_data = [[100,80,10],
                [90,70,7],
                [120,100,14],
                [80,50,5],
                [80,50,5]]
std_data = pd.DataFrame(student_data,columns=['iq','marks','package'])
std_data

value_counts

In [ ]:

std_data.value_counts()

In [ ]:
ipl_matches = pd.read_csv('/media/praveen/Office5/project/pandas/ipl-matches.csv')
ipl_matches

In [ ]:
#find which player has won most postm -> in final and qualifiers
ipl_matches[~ipl_matches['MatchNumber'].str.isdigit()]['Player_of_Match'].value_counts()

In [ ]:
#Toss decision plot 
ipl_matches['TossDecision'].value_counts().plot(kind='pie')

In [ ]:
#how many matches each team has played
(ipl_matches['Team1'].value_counts() + ipl_matches['Team2'].value_counts()).sort_values(ascending=False)

sort_values(series and dataframe ) -> ascending -> na_position -> inplace -> multiple cols

In [ ]:
movies = pd.read_csv('/media/praveen/Office5/project/pandas/movies.csv')
movies

In [ ]:
movies.sort_values('title_x',ascending=False)

In [ ]:

students = pd.DataFrame(
{
'name': ['nitish', 'ankit', 'rupesh', np.nan, 'mrityunjay', np.nan, 'rishabh', np.nan, 'aditya', np.nan], 'college': ['bit', 'iit', 'vit', np.nan, np.nan, 'vlsi', 'ssit', np.nan, np.nan, 'git'],
'branch': ['eee', 'it', 'cse', np.nan, 'me', 'ce', 'civ', 'cse', 'bio', np.nan],
'cgpa': [6.66,8.25,6.41, np.nan, 5.6,9.0, 7.4,10,7.4, np.nan],
'package': [4,5,6, np.nan,6,7,8,9, np.nan, np.nan]
})
students

In [ ]:
students.sort_values('name',na_position='first',ascending=False,inplace=True)
students

In [ ]:
movies.sort_values(['year_of_release','title_x'],ascending=[True,False])

In [ ]:
batsman_run = pd.read_csv('/media/praveen/Office5/project/pandas/pracdataset/batsman_runs_ipl.csv')
batsman_run

In [ ]:
#rank(series)
batsman_run['batsman_rank'] = batsman_run['batsman_run'].rank(ascending =False)
batsman_run.sort_values('batsman_rank')

In [ ]:
#sort_index (series and dataframe)
marks = {
    'maths':67,
    'english':57,
    'science': 89,
    'hindi':100
    }
marks_series = pd.Series(marks)
marks_series
marks_series.sort_index(ascending=False)

In [ ]:
movies.sort_index()

In [ ]:
#set_index (dataframe)
batsman_run.set_index('batter',inplace=True)

In [ ]:
#reset_index (series and dataframe)
batsman_run.reset_index()

In [ ]:
#reset_index chance the series into dataframe
marks_series.reset_index()

In [ ]:
#rename
movies.rename(columns={'poster_path':'poster_link'},inplace=True)

In [ ]:
movies

In [ ]:
movies.set_index('title_x',inplace=True)

In [ ]:
#rename --> index
movies.rename(index={'Uri: The Surgical Strike':'Uri'})

In [ ]:
#unique is counting the missing values
len(marks_series.unique())

In [ ]:
#nunique is not counting the missing values
ipl_matches['Season'].nunique()

In [ ]:
#isnull(series and dataframe)
students['name'].isnull()
students['name'].notnull()

In [ ]:
#hasnan (series)
students['name'].hasnans

In [ ]:
#dropna (series and dataframe)
#remove the whole row if any column consist of a missing value
studentcopy = students.copy()
studentcopy.dropna()

In [ ]:
#remove row where all column have missing values
studentcopy.dropna(how='all')

In [ ]:
#remove particular row where all column have missing values
studentcopy.dropna(subset=['name'])

In [ ]:
#remove particular row where row and column have missing value
studentcopy.dropna(subset=['name','college'])