In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#  string
country = ['india','brasil','nepal','dubai']
b=pd.Series(country)
type(b)

In [ ]:
# integers 
run = [67,56,89,98,77]
runs = pd.Series(run)
runs

In [ ]:
#custom index 
marks = [56,68,87,95]
subject = ['english','science','maths','hindi']
pd.Series(marks,index = subject)

In [ ]:
# setting a name 
marks =pd.Series(marks,index = subject,name = 'sessional marks')
marks

Series of Dictionary

In [ ]:
marks = {
    'english' : 56,
    'science' : 68,
    'maths' : 87,
    'hindi' : 95,
}
marks_series = pd.Series(marks,name = 'students marks')
marks_series

attribues of series

In [ ]:
#size 
sizeofserires = marks_series.size
sizeofserires

In [ ]:
#dtype
typeofdata = marks_series.dtype
typeofdata

In [ ]:
#name 
nameofseries = marks_series.name
nameofseries

In [ ]:
#is_unique
#it tells every item from is unique or not from series

pd.Series([1,1,2,3,4,4,5,6]).is_unique

In [ ]:
#index
#it gives the all the index of a series 
marks_series.index

In [ ]:
#value 
#it gives all the values from the series 
marks_series.values

Series using reas_csv

In [ ]:
# read csv with one col
subs =pd.read_csv('/media/praveen/Office5/project/pandas/subs.csv').squeeze('columns')
subs

In [ ]:
#read csv with two column
vkruns = pd.read_csv('/media/praveen/Office5/project/pandas/kohli_ipl.csv',index_col='match_no').squeeze('columns')
vkruns

In [ ]:
bollywood =  pd.read_csv('/media/praveen/Office5/project/pandas/bollywood.csv',index_col='movie').squeeze('columns')
bollywood

Series Method

In [ ]:
#head
#by defaults heads top 5 rows
subs.head()
subs.head(10)

In [ ]:
#tail
#by defaults tail last 5 rows
vkruns.tail()
vkruns.tail(10)

In [ ]:
#sample
#it give a random data from dataset
bollywood.sample(5)

In [ ]:
#value_count
#gives the count of every uniques values
bollywood.value_counts()

In [ ]:
#sort values
#sort value in asc 
#it is a method chaining 
vkruns.sort_values(ascending=False).head(1).values[0]

In [ ]:
# inplace --> makes permanent chances in dataset
# vkruns.sort_values(inplace=True)

In [ ]:
#sort_index 
#if index have alphabetical values it sort it in albhabetically
# bollywood.sort_index(inplace=True)

Series Maths Methods

In [ ]:
#count 
vkruns.count()

In [ ]:
#sum  , product 
subs.sum()
subs.product()

In [ ]:
#mean ,median, mode , std , var 

subs.mean()
vkruns.median()
bollywood.mode()
vkruns.std()
vkruns.var()

In [ ]:
#min/max
subs.min()
subs.max()

In [ ]:
#describe 
#it gives all mathematical calculations in place
vkruns.describe()

Series Indexinig

In [ ]:
#integer Indexing 
#negative indexing not working series
x = pd.Series([12,13,14,15,65,57,98,123,789,8652,963])
x[0]

In [ ]:
#slicing
vkruns[5:17]
vkruns[-5:]

In [ ]:
#fancy indexing
vkruns[[1,3,5,6,9]]

Editing Series

In [ ]:
#using indexing
marks_series[1] = 100
marks_series

In [ ]:
#what if an index does not exit 
#it will add the item in last 
marks_series['sst'] = 77
marks_series

In [ ]:
#slicing 
runs[2:4] = [50,100]
runs

In [ ]:
#fancy indexing 
runs[[1,3,4]] = [25,75,125]
runs

In [ ]:
#using indexing lable
bollywood ['Evening Shadows '] = 'priyanka chopra'
bollywood

Series with Python fuctionalities

In [ ]:
#len/type/dir/sorted/max/min
print(len(subs))
print(type(subs))
print(dir(subs))
print(sorted(subs))
print(max(subs))
print(min(subs))

In [ ]:
# type conversion
list(marks)
dict(marks)

In [ ]:
#membership operators
#it works on index and if we want search in values 
'Awara Paagal Deewana' in bollywood
'Vicky Kaushal' in bollywood.values

In [ ]:
#looping 

for i in bollywood.index:
    print(i)

In [ ]:
#Arthematic operators 

100 - marks_series

In [ ]:
vkruns >= 50

Boolean indexing on series

In [ ]:
vkruns[vkruns >=70].size

In [ ]:
#find actors who have done more than 20 movies 
num_movies = bollywood.value_counts()
num_movies[num_movies > 20]

Some Important Series Methods

In [ ]:
#astype 
import sys
c= vkruns.astype('int16')
sys.getsizeof(c)

In [ ]:
#between
vkruns[vkruns.between(51,99)].size

In [ ]:
#clip 
#values less than 100 will be 100 and values greater than 200 will be 200
subs.clip(100,200)

In [ ]:
#drop_duplicates
temp =  pd.Series([1,1,2,2,3,3,4,4,5,5])
temp.drop_duplicates(keep='last')

In [ ]:
#find out how many duplicated value in the data
temp.duplicated().sum()

In [ ]:
temp_num = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])
temp_num.size    # include null values
temp_num.count()  # neglect null values

In [ ]:
#isnull
temp_num.isnull().sum()

In [ ]:
#dropna
#drop null valuues
temp_num.dropna()

In [ ]:
#fillna
#fill null values
temp_num.fillna(0)

In [ ]:
#isin
vkruns[vkruns.isin([49,59,90,27])]

In [ ]:
#apply
bollywood.apply(lambda x:x.split()[0].upper())

In [ ]:
vkruns

In [ ]:
#copy and view
new_vkrun = vkruns.head(5)  # head gives the view of data so when we make changes in it will chances the main data
new_vkrun[1] = 1
vkruns

In [ ]:
new_vkrun = vkruns.head(5).copy()  # so we use copy for get copy of a the data 
new_vkrun[1] = 100
new_vkrun

Plotting Graphs on Series

In [ ]:
subs.plot()

In [ ]:
bollywood.value_counts().head(20).plot(kind='pie')

In [ ]:
bollywood.value_counts().head(20).plot(kind='bar')